# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Front_GroceryToDo.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\GroceryAppBlazor\Front_GroceryToDo\.idea\.idea.Front_GroceryToDo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
