@page "/GroceryList"
@using Front_GroceryToDo.Data
@using Front_GroceryToDo.Models
@inject IRecordsService RecordsService

<h3>GroceryList</h3>
<hr/>
@if (record == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!record.Items.Any())
{
    <p>
        <em>The list is empty.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>quantity</th>
            <th>completed</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in record.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Completed.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Record record;

    protected override async Task OnInitializedAsync()
    {
        record = await RecordsService.GetRecordByIdAsync(9999);
    }

}