@page "/GroceryList"
@using Front_GroceryToDo.Data
@using Front_GroceryToDo.Models
@inject IRecordsService RecordsService
@inject NavigationManager NavManager

<h3>GroceryList</h3>
<hr/>
@if (record == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ListRendering Items="@record.Items"></ListRendering>
    <button class="btn btn-primary" @onclick="Add">
        Add
    </button>
}

@code {
    private Record record;

    protected override async Task OnInitializedAsync()
    {
        record = await RecordsService.GetRecordByIdAsync(9999);
    }

    private void Add()
    {
        NavManager.NavigateTo("AddItem");
    }

}