@page "/GroceryList"
@using Front_GroceryToDo.Data
@using Front_GroceryToDo.Models
@inject IRecordsService RecordsService

<h3>GroceryList</h3>
<hr/>
@if (record == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!record.Items.Any())
{
    <p>
        <em>The list is empty.</em>
    </p>
}
else
{
    <ListRendering Items="@record.Items"></ListRendering>
}

@code {
    private Record record;

    protected override async Task OnInitializedAsync()
    {
        record = await RecordsService.GetRecordByIdAsync(9999);
    }

}