@page "/"
@using Front_GroceryToDo.Data
@inject IRecordsService RecordsService
@inject NavigationManager NavManager
@inject IUserService UserService

<div class="card">
    <div class="card-body">
        <p>
            <b>Input list ID:</b>
        </p>
        <input type="number" @bind="id">
        <button @onclick="EnteredIdButtonClicked">Go to list</button>
        <em style="color: red">@errorMessage</em>
        <br>
        <br>
        Or, generate a new list:
        <button @onclick="GenerateButtonPressed">Generate a new list</button>
    </div>
</div>

@code{

    private int? id;
    private string errorMessage;

    protected override void OnInitialized()
    {
        int cachedId = UserService.GetCachedId();
        if (cachedId != 0)
        {
            id = cachedId;
        }
    }

    private async Task EnteredIdButtonClicked()
    {
        try
        {
            if (id >= 1000 && id <= 9999)
            {
                await RecordsService.GetRecordByIdAsync((int) id);
                errorMessage = "";
                NavManager.NavigateTo("/GroceryList");
            }
            else
            {
                errorMessage = "Value should be between 1000 and 9999";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorMessage = "The list with the entered ID does not exist, please enter another ID or generate a new list.";
        }
    }

    private async Task GenerateButtonPressed()
    {
        try
        {
            await RecordsService.CreateRecordAsync();
            errorMessage = "";
            NavManager.NavigateTo("/GroceryList");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            NavManager.NavigateTo("/Error");
        }
    }

}