@using Front_GroceryToDo.Models
@using Front_GroceryToDo.Data.impl
@using Front_GroceryToDo.Data
@inject IRecordsService RecordsService

@if (!Items.Any())
{
    <p>
        <em>The list is empty.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>name</th>
            <th>quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    <button @onclick="() => CompleteChange(item)">Complete</button>
                </td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<Item> Items { get; set; }

    private async Task CompleteChange(Item item)
    {
    //item.IsCompleted = (bool) checkedValue;
        Console.WriteLine("clicked");
    //bool isUpdateSuccessful = await RecordsService.UpdateItemInRecordAsync(item);
    //Console.WriteLine(isUpdateSuccessful);
    }

}