@using Front_GroceryToDo.Models
@using Front_GroceryToDo.Data.impl
@using Front_GroceryToDo.Data
@inject IRecordsService RecordsService

@if (!Items.Any())
{
    <p>
        <em>The list is empty.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>quantity</th>
            <th>isCompleted</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>
                    <input type="checkbox" checked=@item.IsCompleted @onChange="@((arg) => CompleteChange(arg, item))"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<Item> Items { get; set; }

    private async Task CompleteChange(ChangeEventArgs evt, Item item)
    {
        item.IsCompleted = (bool) evt.Value;
        bool isUpdateSuccessful = await RecordsService.UpdateItemInRecordAsync(item);
        Console.WriteLine(isUpdateSuccessful);
    }

}