@using Front_GroceryToDo.Models


@if (!Items.Any())
{
    <p>
        <em>The list is empty.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>quantity</th>
            <th>completed</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Completed.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<Item> Items { get; set; }

}